* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Luxi Mono, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    border-bottom: 3px solid rgba(204, 44, 70, 1.0);
    color: #CC2946;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}


window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: transparent;
}


window#waybar.termite {
    background-color: transparent;
}

window#waybar.chromium {
    background-color: transparent;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #aaaaaa;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #CC2946;
}

#workspaces button.focused, #workspaces button.active {
    background-color: transparent;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #aaaaaa;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,

#window,
#workspaces {
    background : transparent;
    margin: 0 4px;
}
#workspaces-button

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: transparent;
}

#battery {
    background-color: transparent;
    color: #CC2946;
}

#battery.charging, #battery.plugged {
    color: #CC2946;
    background-color: transparent;
}

@keyframes blink {
    to {
        background-color: transparent;
        color: #CC2946;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: transparent;
    color: #CC2946;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    background-color: transparent;
    color: #CC2946;
}

#memory {
    background-color: transparent;
}

#disk {
    background-color: transparent;
}

#network {
    background-color: transparent;
}

#network.disconnected {
    background-color: transparent;
}

#pulseaudio {
    background-color: transparent;
    color: #CC2946;
}

#pulseaudio.muted {
    background-color: transparent;
    color: #CC2946;
}

#wireplumber {
    background-color: transparent;
    color: #CC2946;
}

#wireplumber.muted {
    background-color: transparent;
}

#custom-media {
    background-color: transparent;
    color: #CC2946;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: transparent;
}

#custom-media.custom-vlc {
    background-color: transparent;
}

#temperature {
    background-color: transparent;
}

#temperature.critical {
    background-color: transparent;
}

#tray {
    background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: transparent;
}

#language {
    background: transparent;
    color: #CC2946;
    padding: 0 0px;
    margin: 0 0px;
    min-width: 16px;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: transparent;
}

#privacy-item.audio-in {
    background-color: transparent;
}

#privacy-item.audio-out {
    background-color: transparent;
}

#privacy-item.location {
    background-color: transparent;
}

#battery, #clock, #language, #network, #temperature, #battery, #wireplumber, #disk, #cpu, #memory, #pulseaudio, #backlight {
    border-right: 0.5px solid #CC2946;
    padding-right: 8px;
    margin-right: 4px;
}
